@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #B4B4B8; 
    --dark-primary-color: #161616; 
    --background-color: #F2EFE5; 
    --bg-container-color: #E3E1D9; 
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden hidden;
}

header {
    height: 20%;
    font-size: 2rem;
    margin: 0;
    color: var(--dark-primary-color);
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 40vh;
    border-radius: 2rem;
    text-align: center;
    filter: drop-shadow(0px 0px 8px grey);
    padding: 5px;
    background-color: var(--bg-container-color);
}

.container.contact-info a {
    text-decoration: none;
    color: black;
}

.container.contact-info a:hover {
    color: var(--primary-color)
}

.container h3 {
    color: var(--dark-primary-color);
}

.container p {
    margin: 0;
}

.container .icon {
    margin-top: 1.5rem;
    font-size: 55px;
}
